:81 {
	@transform_port_query {
		query XTransformPort=*
	}

	handle @transform_port_query {
		reverse_proxy localhost:{query.XTransformPort}
	}

	handle {
		reverse_proxy localhost:3000
	}
}

preview-81.space-z.ai {
	reverse_proxy localhost:3000
}

axia.space-z.ai {
	reverse_proxy localhost:3000
}

timelock.space-z.ai {
	reverse_proxy localhost:3000
}
